-if can? :read, content.type.constantize
  %div{:id => content.id, :class => content.type} 
    
    = link_to "#{content.title}", content
    = readable_time(content.created_at)
    = readable_time(content.updated_at) if content.created_at <= content.updated_at