=title "I am badass"
.pages
  = will_paginate @posts
.posts
  = render :partial => "contents/content", :collection => @posts
.archives
  = #render :partial => "shared/archive", :collection => @archives  
  - @archives.each do |x|
    %p= link_to x.date, archives_path(x.date)


