- title "Post"

%p
  %strong Title:
  =h @post.title
%p
  %strong Content:
  =h @post.content
%p
  %strong Commentable:
  =h @post.commentable
%p
  %strong Published:
  =h @post.published
%p
  %strong User:
  =h @post.user_id

%p
  = link_to "Edit", edit_post_path(@post)
  |
  = link_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", posts_path
