.post
  = render :partial => "shared/content", :object => @post
.new_comment
  = semantic_form_for([@post, Comment.new]) do |f|
    = f.input :content
    =f.buttons

.comments
  -for comment in @post.comments
    %h3=comment.content