=semantic_form_for [:admin,content] do |form| 
  =form.inputs do 
    =form.input :title 
    =form.input :body 
    =form.input :published,:as => :radio, :label => "#{t("published")}?", :collection => [[t("no"), false], [t("yes"), true]]
    =form.input :commented,:as => :radio, :label => t("commentable"), :collection => [[t("disallow"), false], [t("allow"), true]]
  =form.buttons :commit


  